body {
  margin: 0;
  padding: 0;
}
.header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.header__motto {
  text-align: center;
  background-color: #F0EEDD;
  color: #670A18;
  margin: 0;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
}
.header__list {
  height: 82px;
  line-height: 82px;
  display: flex;
  color: #35312E;
  font-weight: bold;
}
.header__list--item {
  margin-inline: 15px;
}
.header__list--item--name {
  text-transform: none;
  margin-inline: auto;
  font-size: 28px;
  letter-spacing: -2px;
}
.header__list--item:first-child {
  margin-left: 30px;
}
.header__list--item:last-child {
  margin-right: 30px;
  text-align: center;
  color: white;
}
.header__list--item:last-child::after {
  width: 35px;
  height: 35px;
  background-color: #C87B5E;
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 63px;
  right: 18px;
  z-index: -10;
}
.special {
  background-image: url("src/header_background.png");
  background-size: cover;
  position: relative;
  height: 600px;
  color: #35312E;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.special__motto {
  top: 170px;
  left: 370px;
  position: absolute;
  font-size: 16px;
}
.special__title {
  position: absolute;
  top: 200px;
  left: 370px;
  text-transform: none;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 1px;
}
.special__title .name {
  text-decoration: underline;
}
.special__btn {
  position: absolute;
  top: 380px;
  left: 370px;
  color: white;
  font-weight: 700;
  font-size: 12px;
  background-color: #C87B5E;
  padding: 20px;
  width: 210px;
  text-align: center;
}
.companies {
  font-family: "Roboto", sans-serif;
  background-color: #E5DCCF;
}
.companies__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}
.companies__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 70%;
  margin-inline: auto;
  justify-content: space-between;
  padding-bottom: 30px;
}
.companies__item img {
  height: 29px;
}
.info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  height: 340px;
  align-items: center;
}
.info__title {
  text-align: center;
  letter-spacing: 1.25px;
  font-size: 41px;
  line-height: 46px;
  font-weight: bold;
  width: 400px;
  height: 93px;
  vertical-align: middle;
}
.info__content {
  width: 650px;
  font-size: 16px;
  line-height: 20px;
  height: 104px;
}
