@color_1: #F0EEDD; 
@color_2: #C87B5E;
@main_font: "Roboto", sans-serif;
@color_special: #35312E;
@parts_color: #FFF1F1;
@footer_color: #6C674D;


body {
    margin: 0;
    padding: 0;
}
.header {
    font-family: @main_font;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    &__motto {
        text-align: center;
        background-color: @color_1;
        color: #670A18;
        margin: 0;
        height: 40px;
        line-height: 40px;
        font-weight: 700;
        @media screen and (max-width: 700px) {
            font-size: 10px;
        }
    }
    &__list {
        height: 82px;
        line-height: 82px;
        display: flex;
        color: #35312E;
        font-weight: bold;
        &--item {
            margin-inline: 15px;
            &--name {
                text-transform: none;
                margin-inline: auto;
                font-size: 28px;
                letter-spacing: -2px;
                @media screen and (max-width: 700px) {
                    font-size: 20px;
                }
            }
            &:first-child {
                margin-left: 30px;
            }
            &:last-child {
                margin-right: 30px;
                text-align: center;
                color: white;
                &::after {
                    width: 35px;
                    height: 35px;
                    background-color: @color_2;
                    content: "";
                    position:absolute; 
                    border-radius: 50%;
                    top: 63px;
                    right: 18px;
                    z-index: -10; 
                }
            }
        }
    }
}

.special {
    background-image: url("src/header_background.png");
    background-size: cover;
    position: relative;
    height: 600px;
    color: @color_special;
    font-family: @main_font;
    text-transform: uppercase;
    &__motto {
        top: 170px;
        left: 370px;
        position: absolute;
        font-size: 16px;
        @media screen and (max-width: 1000px) {
            left: 70px;
        }
    }
    &__title {
        position: absolute;
        top: 200px;
        left: 370px;
        text-transform: none;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 1px;
        .name {
            text-decoration: underline;
        }
        @media screen and (max-width: 1000px) {
            left: 70px;
        }
    }
    &__btn {
        position: absolute;
        top: 380px;
        left: 370px;
        color: white;
        font-weight: 700;
        font-size: 12px;
        background-color: @color_2;
        padding: 20px;
        width: 210px;
        text-align: center;
        @media screen and (max-width: 1000px) {
            left: 70px;
        }
    }
}

.companies {
    font-family: @main_font;
    background-color: #E5DCCF;
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__list {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        width: 70%;
        margin-inline: auto;
        justify-content: space-between;
        padding-bottom: 30px;
    }
    &__item {
        & img {
            height: 29px;
        }
    }
}

.info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: @main_font;
    height: 340px;
    align-items: center;
    &__title {
        text-align: center;
        letter-spacing: 1.25px;
        font-size: 41px;
        line-height: 46px;
        font-weight: bold;
        width: 400px;
        height: 93px;
        vertical-align: middle;
    }
    &__content {
        width: 650px;
        font-size: 16px;
        line-height: 20px;
        height: 104px;
    }
}
.parts {
    background-color: @parts_color;
    font-family: @main_font;
    &__title {
        font-size: 35px;
        line-height: 48px;
        text-align: center;
        padding-top: 40px;
        @media screen and (max-width: 1000px) {
            font-size: 28px;
        }
    }
    &__colors-list {
        margin-top: 35px;
        margin-bottom: 35px;
        display: flex;
        justify-content: space-around;
        width: 345px;
        margin-inline: auto;
        & .color-item {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        & .color1 {
            background-color: @color_2;
        }
        & .color2 {
            background-color: #6549D7;
        }
        & .color3 {
            background-color: #FF9640;
        }
        & .color4 {
            background-color: #1F4D11;
        }
        & .color5 {
            background-color: #AD5947;
        }
        & .color6 {
            background-color: #D9D6D7;
        }
        & .color7 {
            background-color: #1B1A1A;
        }
        & .color8 {
            background-color: #DDA6FF;
        }
        & .active {
            border: 3px solid @color_2;
            width: 27px;
            height: 27px;
        }
    }
    &__content {
        width: 553px;
        margin-left: 37%;
        position: relative;
        @media screen and (max-width: 1000px) {
            width: 300px;
        }
        & img {
            width: 553px;
            margin-bottom: 70px;
            @media screen and (max-width: 1000px) {
                width: 300px;
                position: relative;
                right: 30px;
            }
        }
        & .content-items {
            text-align: center;
            text-transform: uppercase;
            font-family: @main_font;
            font-size: 12px;
            line-height: 15px;
            @media screen and (max-width: 1000px) {
                display: none;
            }
            & .item1 {
                position: absolute;
                top: 85px;
                left: -150px;
            }
            & .item2 {
                position: absolute;
                top: 350px;
                left: -50px;
            }
            & .item3 {
                position: absolute;
                top: 460px;
                left: -150px;
            }
            & .item4 {
                position: absolute;
                top: 50px;
                left: 380px;
            }
            & .item5 {
                position: absolute;
                top: 290px;
                left: 380px;
            }
            & .item6 {
                position: absolute;
                top: 440px;
                left: 430px;
            }
        }
    }
}
.short-info {
    font-family: @main_font;
    font-style: normal;
    margin-top: 50px;
    &__title {
        font-weight: 700;
        font-size: 33px;
        line-height: 55px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__content {
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
    }
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        & .first_item {
            position: relative;
            width: 253px;
            height: 285px;
            margin-inline: auto;
        }
        & .second_item {
            position: relative;
            width: 253px;
            height: 285px;
        }
        & .third_item {
            position: relative;
            width: 253px;
            height: 285px;
        }
        & .fourth_item {
            position: relative;
            top: 100px;
            width: 306px;
            height: 204px;
            
        }
        & .item_title {
            text-align: center;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            font-family: @main_font;
            font-size: 14px;
            line-height: 24px;
            &.below {
                position: relative;
                top: 80px;
            }
        }
        & .item_cost {
            text-align: center;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            font-family: @main_font;
            font-size: 14px;
            line-height: 24px;
            margin-inline: auto;     
            color: #6E635A; 
            &.below {
                position: relative;
                top: 80px;
            } 
        }
        & .item_description {
            font-family: @main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.2px;
            width: 161px;
            color: #6E635A;  
            margin-inline: auto; 
            &.below {
                position: relative;
                top: 80px;
            }         
        }
    }
    &__colors-list {
        margin-top: 15px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        gap: 10px;
        margin-inline: auto;
        &.one {
            position: relative;
            top: 20px;
        }
        & .list-item {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
        & .first {
            background-color: @color_2;
        }
        & .second {
            background-color: #6549D7;
        }
        & .third {
            background-color: #FF9640;
        }
        &.below {
            position: relative;
            top: 80px;
            @media screen and (max-width: 1100px) {
                margin-bottom: 100px;
            }
        }
    }
}

.prefooter {
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 1440px) {
        justify-content: center;
    }
    &__item {
        &.right {
            margin-left: auto;
            @media screen and (max-width: 1440px) {
                display: none;
            }
        }
        & img {
            height: 480px;
            margin-right: 0;
            padding: 0;
            @media screen and (max-width: 1440px) {
                display: none;
            }
        }
        &.center {
            position: relative;
            height: 480px;
        }
        & .title {
            font-family: @main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-top: 100px;
        }
        & .content {
            margin-top: 20px;
            font-family: @main_font;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 46px;
            text-align: center;
            letter-spacing: 1px;
            color: #35312E;
        }
        & .btn {
            & a {
                text-decoration: none;
                color: white;               
            }
            width: 150px;
            background-color: black;
            margin-inline: auto;
            margin-top: 20px;
            padding: 20px;
            font-family: @main_font;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }
    }
}

.footer {
    height: 579px;
    background-color: @footer_color;
    color: white;
    font-family: @main_font;
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 58px;
        letter-spacing: 0.7px;
        margin-left: 30px;
        padding-top: 80px;
    }
    &__content {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        margin-left: 30px;
        
    }
    &__lists {
        position: relative;
        bottom: 80px;
        right: 80px;
        margin-left: auto;
        display: flex;
        width: 450px;
        gap: 15px;
        @media screen and (max-width: 1150px) {
            margin-left: 0;
            right: 0;
            bottom: 0;
        }
        & ul {
            list-style: none;
            & .list_title {
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
            }
            & .list_item {
                cursor: pointer;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                color: rgba(245, 241, 233, 0.6);
            }
        }
    }
    &__form {
        & input[type='email'] {
            padding: 10px;
            margin-left: 30px;
            margin-top: 10px;
            margin-right: 0;
            border: none;
        }
        & input[type="submit"] {
            width: 80px;
            margin-left: 0;
            font-weight: bold;
            background-color: white;
            border: none;
            height: 36px;
            position: relative;
            right: 10px;
        }
    }
}

.countries {
    font-family: @main_font;
    width: 144px;
    margin-left: auto;
    margin-right: 350px;
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__flags {
        display: flex;
        gap: 20px;
    }
}

footer {
    background-color: #807C62;
    font-family: @main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: rgba(245, 241, 233, 0.6);
    & ul {
        position: relative;
        bottom: 15px;
        margin: 0;
        list-style: none;
        display: flex;
        margin-left: auto;
        gap: 35px;
        width: 450px;
    }
    & .copyright {
        position: relative;
        top: 15px;
        margin-left: 20px;
    }
}

























