body {
  margin: 0;
  padding: 0;
}
.header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.header__motto {
  text-align: center;
  background-color: #F0EEDD;
  color: #670A18;
  margin: 0;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
}
.header__list {
  height: 82px;
  line-height: 82px;
  display: flex;
  color: #35312E;
  font-weight: bold;
}
.header__list--item {
  margin-inline: 15px;
}
.header__list--item--name {
  text-transform: none;
  margin-inline: auto;
  font-size: 28px;
  letter-spacing: -2px;
}
.header__list--item:first-child {
  margin-left: 30px;
}
.header__list--item:last-child {
  margin-right: 30px;
  text-align: center;
  color: white;
}
.header__list--item:last-child::after {
  width: 35px;
  height: 35px;
  background-color: #C87B5E;
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 63px;
  right: 18px;
  z-index: -10;
}
.special {
  background-image: url("src/header_background.png");
  background-size: cover;
  position: relative;
  height: 600px;
  color: #35312E;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.special__motto {
  top: 170px;
  left: 370px;
  position: absolute;
  font-size: 16px;
}
.special__title {
  position: absolute;
  top: 200px;
  left: 370px;
  text-transform: none;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 1px;
}
.special__title .name {
  text-decoration: underline;
}
.special__btn {
  position: absolute;
  top: 380px;
  left: 370px;
  color: white;
  font-weight: 700;
  font-size: 12px;
  background-color: #C87B5E;
  padding: 20px;
  width: 210px;
  text-align: center;
}
.companies {
  font-family: "Roboto", sans-serif;
  background-color: #E5DCCF;
}
.companies__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}
.companies__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 70%;
  margin-inline: auto;
  justify-content: space-between;
  padding-bottom: 30px;
}
.companies__item img {
  height: 29px;
}
.info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  height: 340px;
  align-items: center;
}
.info__title {
  text-align: center;
  letter-spacing: 1.25px;
  font-size: 41px;
  line-height: 46px;
  font-weight: bold;
  width: 400px;
  height: 93px;
  vertical-align: middle;
}
.info__content {
  width: 650px;
  font-size: 16px;
  line-height: 20px;
  height: 104px;
}
.parts {
  background-color: #FFF1F1;
  font-family: "Roboto", sans-serif;
}
.parts__title {
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  padding-top: 40px;
}
.parts__colors-list {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-around;
  width: 345px;
  margin-inline: auto;
}
.parts__colors-list .color-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.parts__colors-list .color1 {
  background-color: #C87B5E;
}
.parts__colors-list .color2 {
  background-color: #6549D7;
}
.parts__colors-list .color3 {
  background-color: #FF9640;
}
.parts__colors-list .color4 {
  background-color: #1F4D11;
}
.parts__colors-list .color5 {
  background-color: #AD5947;
}
.parts__colors-list .color6 {
  background-color: #D9D6D7;
}
.parts__colors-list .color7 {
  background-color: #1B1A1A;
}
.parts__colors-list .color8 {
  background-color: #DDA6FF;
}
.parts__colors-list .active {
  border: 3px solid #C87B5E;
  width: 27px;
  height: 27px;
}
.parts__content {
  width: 553px;
  margin-left: 37%;
  position: relative;
}
.parts__content img {
  width: 553px;
  margin-bottom: 70px;
}
.parts__content .content-items {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 15px;
}
.parts__content .content-items .item1 {
  position: absolute;
  top: 85px;
  left: -150px;
}
.parts__content .content-items .item2 {
  position: absolute;
  top: 350px;
  left: -50px;
}
.parts__content .content-items .item3 {
  position: absolute;
  top: 460px;
  left: -150px;
}
.parts__content .content-items .item4 {
  position: absolute;
  top: 50px;
  left: 380px;
}
.parts__content .content-items .item5 {
  position: absolute;
  top: 290px;
  left: 380px;
}
.parts__content .content-items .item6 {
  position: absolute;
  top: 440px;
  left: 430px;
}
.short-info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-top: 50px;
}
.short-info__title {
  font-weight: 700;
  font-size: 33px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 20px;
}
.short-info__content {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
}
