@color_1: #F0EEDD; 
@color_2: #C87B5E;
 

body {
    margin: 0;
    padding: 0;
}
.header {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    &__motto {
        text-align: center;
        background-color: @color_1;
        color: #670A18;
        margin: 0;
        height: 40px;
        line-height: 40px;
        font-weight: 700;
    }
    &__list {
        height: 82px;
        line-height: 82px;
        display: flex;
        color: #35312E;
        font-weight: bold;
        &--item {
            margin-inline: 15px;
            &--name {
                text-transform: none;
                margin-inline: auto;
                font-size: 28px;
                letter-spacing: -2px;
            }
            &:first-child {
                margin-left: 30px;
            }
            &:last-child {
                margin-right: 30px;
                text-align: center;
                color: white;
                &::after {
                    width: 35px;
                    height: 35px;
                    background-color: @color_2;
                    content: "";
                    position:absolute; 
                    border-radius: 50%;
                    top: 63px;
                    right: 18px;
                    z-index: -10; 
                }
            }
        }
    }
}


